{% load tasks_library %}

{% extends "layouts/logged_in.html" %}

{% block page_title %}Sign up for DNZO!{% endblock %}

{% block javascripts %}
  {% javascript_tag signup %}
{% endblock %}

{% block content %}
<h1>Sign up for Dnzo</h1>
<form action="{% url public.views.signup %}" method="POST">

  <div id="signup">
    <p>
      <label for="name">
        Choose a <strong>URL</strong> for your account: 
      </label>
    
      <span id="url">http://dnzo.appspot.com/</span>
      <input type="text" name="name" id="name" value="{{ short_name|escape }}">
      {% include "signup/availability.html" %} 
    </p>
    
    {% include "signup/availability_message.html" %}
    
    <p id="buttons">
      <a href="/">cancel</a>
      <input type="submit" value="Sign up">
    </p>
  </div>
</form>
{% endblock %}