{% extends "layouts/public.html" %}

{% block title %}
Done-zo - Maintenance
{% endblock %}

{% block h1 %}
<h1>Down-zo</h1>
{% endblock %}

{% block body %}
<div id="body">
  <p>
    We&rsquo;re sorry; there is some maintenance going on right now.<br> This  
    probably involves turning some knobs over at our host,
    <a href="http://code.google.com/appengine/">Google App Engine</a>.
  </p>
  <p>
    The maintenance should be finished <strong>by 10 a.m. pacific time</strong>.
  </p>
  <p>
    Please check back soon. Thanks for your patience!
  </p>
</div>
{% endblock %}
