{% extends "layouts/logged_in.html" %}

{% load tasks_library %}

{% block page_title %}DNZO / Archived Tasks{% endblock %}

{% block header %}
  Archived Tasks{% if filter_title %} / {{ filter_title }}{% endif %}
{% endblock %}

{% block preheader %}
<div id="filter">
  <p>
    Show archived tasks from
    <a href="?t=this_week">this week</a>,
    <a href="?t=last_week">last week</a>,
    <a href="?t=today">today</a>,
    <a href="?t=yesterday">yesterday</a>, <span>or</span>
  </p>
  <form>
    <input type="text" value="{{ start|date:"n/j/y" }}" class="date"> to
    <input type="text" value="{{ stop|date:"n/j/y" }}" class="date">
    <input type="submit" value="go">
  </form>
</div>
{% endblock %}

{% block content %}
<table cellspacing="0" cellpadding="0" id="tasks_list" class="archived">
  <tr>
    <th class="list">   <span>List</span></th>
    <th class="project"><span>Project</span></th>
    <th class="task">   <span>Task</span></th>
    <th class="context"><span>Context</span></th>
    <th class="due">    <span>Due</span></th>
  </tr>
  {% for task in tasks %}
    {% include "tasks/tasks/archived_task.html" %}
  {% endfor %}
</table>
{% endblock %}

{% block footer %}{% endblock %}