{% extends "../layouts/logged_in.html" %}

{% block page_title %}Done-zo / Archived Tasks{% endblock %}

{% block header %}
  Archived Tasks{% if filter_title %} / {{ filter_title|escape }}{% endif %}
{% endblock %}

{% block preheader %}
<div id="filter">
  <p>
    Show archived tasks from
    {% for range in ranges %}
      {% ifequal range.slug chosen_range %}<strong>{% endifequal %}
      <a href="?range={{ range.slug }}">{{ range.name|lower }}</a>{% ifequal range.slug chosen_range %}</strong>{% endifequal %},
    {% endfor %}
    <span>or</span>
  </p>
  <form method="get" action="{% url ArchivedListHandler %}">
    <input type="text" value="{{ start|adjust_date:user|date:"n/j/y" }}" class="date" name="start"> to
    <input type="text" value="{{ stop|adjust_date:user|date:"n/j/y" }}" class="date" name="stop">
    <input type="submit" value="go">
  </form>
</div>
{% endblock %}

{% block content %}
<table cellspacing="0" cellpadding="0" id="tasks_list" class="archived">
  <tr>
    <th class="list">   <span>List</span></th>
    <th class="task">   <span>Task</span></th>
    <th class="project"><span>Project</span></th>
    <th class="context"><span>Context</span></th>
    <th class="due">    <span>Due</span></th>
  </tr>
{% if tasks %}
  {% for task in tasks %}
    {% include "tasks/archived_task.html" %}
  {% endfor %}
{% else %}
  <tr>
  <td></td>
  <td></td>
  <td>
    There are no archived tasks to display for
    {% if filter_title %} 
      {{ filter_title|escape|lower }}.
    {% else %}
      this time period.
    {% endif %}
  </td>
  <td></td>
  <td></td>
  </tr>
{% endif %}
</table>

{% if tasks|length_is:max_records %}
<p>Results limited to {{ max_records }} items.</p>
{% endif %}

{% endblock %}

{% block footer %}
<p id="credit-footer">
  Questions, comments, or just want to talk? Email us at <a href="mailto:support@done-zo.com">support@done-zo.com</a>.<br><br>
  &copy;2010 Two-Stitch Software LLC &bull; <a href="http://twitter.com/dnzo">Done-zo on Twitter</a> &bull; <a href="http://itunes.apple.com/us/app/done-zo/id362042241?mt=8">Done-zo for iPhone and iPod Touch</a>
</p>
{% endblock %}