{% extends "layouts/logged_in.html" %}

{% load tasks_library %}

{% block page_title %}DNZO / Archived Tasks{% endblock %}

{% block switcher %}
  {% include "tasks/switcher.html" %}
{% endblock %}

{% block header %}
  {% if filter_title %}<a href="{% url tasks.views.list_index user.short_name,"_archived" %}">{% endif %}
  Archived Tasks{% if filter_title %}</a> / {{ filter_title|escape }}{% endif %}
{% endblock %}

{% block content %}
<table cellspacing="0" cellpadding="0" id="tasks_list" class="archived">
  <tr>
    <th class="list"><span>List</span></th>
    {% sorting_header "Project"     "project_index"    order direction "project" %}
    {% sorting_header "Task"        "body"       order direction "body" %}
    <th><span>Context</span></th>
    {% sorting_header "Due"         "due_date"   order direction "due" %}
  </tr>
  {% for task in tasks %}
    {% include "tasks/tasks/archived_task.html" %}
  {% endfor %}
</table>
{% endblock %}

{% block footer %}{% endblock %}