{% extends "../layouts/logged_in.html" %}

{% block page_title %}Done-zo / {{ task_list.name|escape }}{% if filter_title %} / {{ filter_title|escape }}{% endif %}{% endblock %}

{% block header %}
  {% if filter_title %}<a href="{% url TaskListHandler task_list.short_name %}">{% endif %}
  {{ task_list.name|escape }}{% if filter_title %}</a> / {{ filter_title|escape }}{% endif %}
{% endblock %}

{% block content %}
<style type="text/css">
  {% if user.hide_project %}
  th.project, td.project { display: none; }
  {% endif %}
  {% if user.hide_contexts %}
  th.context, td.context { display: none; }
  {% endif %}
  {% if user.hide_due_date %}
  th.due, td.due { display: none; }
  {% endif %}
</style>

<table cellspacing="0" cellpadding="0" id="tasks_list" class="draggable">
  <tr>
    {% sorting_header "<img src=\"/images/checkmark.gif\" alt=\"checkmark\">" "done" %}
    {% sorting_header "Project" "project" %}
    {% sorting_header "Task" "task" %}
    {% sorting_header "Context" "context" %}
    {% sorting_header "Due" "due" %}
    <th class="edit">&nbsp;</th>
    <th class="cancel">&nbsp;</th>
  </tr>
  {% for task in tasks %}
    {% include "tasks/task.html" %}
  {% endfor %}
  <tr id="add_row">
    <td></td>
    <td colspan="10"><a href="{% url TaskHandler %}">Add task</a></td>
  </tr>
</table>

{% if tasks|length_is:max_records %}
<p>Results limited to {{ max_records|escape }} items.</p>
{% endif %}

<form method="POST" id="tasks_form" action="{% url TaskHandler %}?task_list={{task_list.short_name}}">
  <table id="new_task_table">
  {% for task in new_tasks %}
    {% include "tasks/task.html" %}
  {% endfor %}
  </table>
</form>
{% endblock %}

{% block footer %}
<form action="{% url PurgeTaskListHandler task_list.short_name %}" method="POST">
<p id="archive">
    <input type="submit" value="Archive completed tasks">&nbsp;
</p>
</form>

<div id="new-delete">
{% if not task_lists|length_is:1 %}
<p><a href="{% url DeleteTaskListHandler task_list.short_name %}">Delete list</a></p>
{% endif %}
<form action="{% url AddTaskListHandler %}" method="GET">
  <input type="submit" value="Add list" id="add_list"{% if not can_add_list %} disabled="disabled"{% endif %}>&nbsp;
</form>
</div>
{% endblock %}