ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,
pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0; line-height:1; }
a img,:link img,:visited img { border:none }
address { font-style:normal }  

body {
  background: #eee;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-size: 14px;
}
a {
  color: #666;
}
p {
  color: #666;
  line-height: 1.2;
  margin-top: 18px;
  margin-bottom: 12px;
}

h1 {
  font-size: 70px;
  letter-spacing: -4px;
  margin-top: 50px;
  margin-bottom: 12px;
}

h1, p {
  margin-left: 10%;
  margin-right: 10%;
}

#logo {
  display: block;
  text-indent: -10000px;
  background: url(/images/dnzo_big.png) top left no-repeat;
  height: 80px;
}
  #tagline { display: none; }

#body {
  background: white;
  padding: 20px 10% 20px 10%;
  height: 265px;
  min-width: 700px;
}
  #body a {
    color: #CC2E2E;
  }
  #body p, #body li {
    color: black;
    margin: 0 0 20px 0;
  }   
    #body li {
      list-style-type: square;
    }
 
  #body #signin {
    font-size: 16px;
    margin-right: 340px;
    padding: 10px;
    background: #ff9;
    text-align: center;
  }

  #body #screencast {
    float: right;
    margin: 0 0 0 20px;
  }
    #body #screencast img {
      border: 1px solid black;
    }

