/**
 * Clear browser default styles
 * Adapted from Tantek Celik's undohtml.css
 *   http://tantek.com/log/2004/09.html#d06t2354
 */  
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,
pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0; line-height:1; }
a img,:link img,:visited img { border:none }
address { font-style:normal }  


body {
  background-color: #e9e6e6;
  margin: 0;
  padding: 0;
  min-width: 700px;
}
body,
.text-input {
  font: 13px Helvetica;
}

#header,
#footer {
  height: 50px;
  font-size: 11px;
}
  #header p,
  #footer p {
    display: inline;
    width: 35%;
    margin: 20px;
  }
  #header #branding-lists,
  #footer #archive {
    float: left;
  }
  #header #branding-lists {
    margin-top: 15px;
  }
    #branding-lists span {
      float: left;
      margin-top: 3px;
      height: 17px;
      width: 120px;
      text-indent: -40502px;
      background: url(/images/dnzo_small.png) -3px -4px no-repeat;      
    }
  #header #user,
  #footer #new-delete {
    float: right;
    text-align: right;
    margin: 20px;
  }
  #new-delete form { 
    display: inline;
  }
  
#status {
  position: fixed;
  width: 400px;
  height: 25px;
  top: 0;
  left: 50%;
  margin-left: -200px;
  background: red;
  color: white;
}
  #status a {
    color: white;
    text-decoration: underline;
  }
  #status p {
    margin-top: 6px;
    padding: 0;
	  text-align: center;
  }
  
#body {
  padding: 18px 0 20px 0;
  background: white;
}
  #body p {
    margin-left: 10px;
    font-size: 13px;
  }
h1 {
  margin-left: 20px;
  margin-bottom: 18px;
  font-size: 22px;
}
a {
  text-decoration: underline;
  color: #CC2E2E;
}

#tasks_list {
  width: 100%;
}
td, th {
  text-align: left;
}
th {
  font-weight: normal;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}
  th a, th span {
    display: block;
    padding: 4px 8px 3px 8px;
    text-decoration: none;
    color: #999;
  }	  
  th a:hover
  {
    background: #eee url(/images/graphics.gif) no-repeat 100000px 8px;
  }  
    th.sorted a {
      background: #eee url(/images/graphics.gif) no-repeat right 8px;
      color: #666;
    }
    th.sorted.descending a { 
      background-position: right -85px;
    }
    
    th.done.sorted a {
      background-image: none;
    }

    
td {
  padding: 7px 8px 6px 8px;
  font-size: 13px;
  height: 18px;
}
	td a {
	  text-decoration: none;
	  color: inherit;
	}
	td.done,
	th.done {
	  width: 24px;
	  text-align: right;
	}
	td.project {
    width: 100px;
	}
	td.context {
	  width: 100px;
	}
	td.due {
	  width: 60px;
	}
	td.edit {
	  width: 50px;
	  text-align: center;
	}
	  td.edit a {
      background: url(/images/pencil_16x16.gif) no-repeat left;
      padding: 2px 0 2px 20px;
    }
  	td.edit a,
  	td.cancel a {
  	  visibility: hidden;
  	}
  td.cancel {
    padding: 0;
    width: 20px;
    text-indent: -10000px;
  }
    td.cancel a {
      display: block;
      width: 15px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: left;
    }
      td.cancel a.delete {
        background-image: url(/images/trash.gif);
      }
      td.cancel a.cancel {
        background-image: url(/images/cancel.gif);
      }
      
	
tr.task-row:hover td,
tr.editable td {
  background: #ff9;
}
/* overrule default :hover rule when something in the table is being dragged */
table.row-dragging tr.task-row:hover td {
  background: white;
}
  tr.task-row:hover td a,
  tr.editable td a {
    text-decoration: underline;
    color: #CC2E2E;
  }
  tr.task-row:hover td.edit a,
  tr.task-row:hover td.cancel a,
  tr.editable td.cancel a {
    visibility: visible;
  }
  tr.task-row:hover td.done,
  table.row-dragging tr.task-row.dragging:hover td.done,
  tr.dragging td.done {
    background-image: url(/images/drag_handle.gif);
    background-repeat: no-repeat;
    background-position: 6px center;
  }
  tr.editable:hover td.done {
    background-image: none;
  }
  tr.task-row.completed {
    color: #666;
  }
    tr.task-row.completed td {
      text-decoration: line-through;
    }
    tr.task-row.completed td.edit {
      text-decoration: none;
    }

  table.draggable tr.task-row td {
    cursor: move;
  }
  tr.task-row td {
    white-space: nowrap;
  }
    tr.task-row td.task {
      white-space: normal;
    }

  /* hide checkbox in new, pre-added row */
  tr.task-row.unsaved td.done input { display: none; }
  /* hide edit link in completed row */
  tr.task-row.completed a.edit { display: none; }
    
tr.editable.task-row td.project,
tr.editable.task-row td.task,
tr.editable.task-row td.context,
tr.editable.task-row td.due,
tr.editable.task-row td.edit {
  padding: 6px 4px 5px 4px;
}
  tr.editable.task-row td.task {
    padding-right: 10px;
  }
  tr.editable.task-row td.edit {
    padding-left: 0;
  }

.text-input {
  padding: 2px;
  border: 1px solid #ccc;
}
  .text-input.disabled {
    color: #333;
    background: #eee;
  }

tr.editable.task-row td.project input,
tr.editable.task-row td.task input,
tr.editable.task-row td.context input,
tr.editable.task-row td.due input {
  height: 14px;
  outline: none;
}
  tr.editable.task-row td.project input,
  tr.editable.task-row td.context input {
    width: 102px;
  }
  tr.editable.task-row td.due input {
    width: 60px;
  }
  tr.editable.task-row td.task input {
    width: 100%;
  }

#add_row {
  height: 31px;
}
#add_row:hover td {
  background: #f7f6f6;
  cursor: pointer;
}
  #add_row a {
    color: #CC2E2E;
    text-decoration: underline;
  }

table.row-dragging tr.task-row.dragging:hover td,
tr.dragging td {
  background-color: #ff9;
}

tr.error td {
  background: #c00;
}

#tasks_form { display: none; }

.autocompleter {
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  color: #666;
  overflow: hidden;
}
  .autocompleter ul, .autocompleter li {
    margin: 0;
    padding: 0;
  }
  .autocompleter li {
    padding: 3px;
    list-style-type: none;
  }
    .autocompleter li.selected { 
      background: #ff9;
      color: black;
    }


/* Modal dialogs */

.dialog_container {
  background: white;
  border: 4px solid #ff9;
  padding: 20px;
}
  .dialog_container .loading {
    background: white url(/images/medium_spinner.gif) center no-repeat;
    width: 300px;
    height: 100px;
  }
.dialog_content h2 { 
  font-size: 16px;
  margin-bottom: 10px;
}
.dialog_content li { 
  margin-bottom: 10px;
}
  .dialog_content li input {
    vertical-align: -2px;
  }
  .dialog_content li.buttons { 
    margin: 20px 0 0 0;
  }
    .dialog_content li.buttons input {
      vertical-align: 0;
    }
    
.error_dialog {
  width: 400px;
}

#settings_dialog, #add_list_dialog { 
  width: 300px;
}
  #new_list_name {
    width: 100%;
    font-size: 16px;
  }
  
  
/* Archived */

#filter { 
  text-align: center; 
  margin-bottom: 20px;
}
  #filter p, 
  #filter form {
    display: inline;
  }
  #filter a,
  #filter span,
  #filter form {
    margin-left: 5px;
  }
  #filter input.date {
    width: 70px;
  }
