/**
 * Clear browser default styles
 * Adapted from Tantek Celik's undohtml.css
 *   http://tantek.com/log/2004/09.html#d06t2354
 */  
:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,
pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0; line-height:1; }
a img,:link img,:visited img { border:none }
address { font-style:normal }  


body {
  background: #eee;
  margin: 0;
  padding: 0;
}
body,
.text-input {
  font: 13px Helvetica;
}

#header,
#footer {
  height: 50px;
  font-size: 11px;
}
  #header p,
  #footer p {
    display: inline;
    width: 35%;
    margin: 20px;
  }
  #header #branding-lists,
  #footer #archive {
    float: left;
  }
  #header #branding-lists {
    margin-top: 15px;
  }
    #branding-lists span {
      vertical-align: -4px;
	    font-weight: bold;
	    font-size: 22px;
	    letter-spacing: -1px;
	    color: #999;	      
    }
  #header #user,
  #footer #new-delete {
    float: right;
    text-align: right;
    margin: 20px;
  }
  #new-delete form { 
    display: inline;
  }
  
#status {
  position: absolute;
  width: 400px;
  height: 20px;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  background: red;
  color: white;
}
  #status a {
    color: white;
    text-decoration: underline;
  }
  #status p {
    margin-top: 3px;
    padding: 0;
	  text-align: center;
  }
  
#body {
  padding: 20px 10px;
  background: white;
}
  #body p {
    margin-left: 10px;
    font-size: 13px;
  }
h1 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}
a {
  text-decoration: underline;
  color: #369;
}

#tasks_list {
  width: 100%;
}
td, th {
  text-align: left;
}
th {
  font-weight: normal;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}
  th a, th span {
    display: block;
    padding: 4px 8px 3px 8px;
    text-decoration: none;
    color: #999;
  }	  
  th a:hover
  {
    background: #eee url(/images/graphics.gif) no-repeat 100000px 8px;
  }  
    th.sorted a {
      background: #eee url(/images/graphics.gif) no-repeat right 8px;
      color: #666;
    }
    th.sorted.descending a { 
      background-position: right -85px;
    }
    th.sorted a:hover { 
      background-position: right -85px;
    }
    th.sorted.descending a:hover {
      background-position: right 8px;
    }
    
    th.done.sorted a {
      background-image: none;
    }

    
td {
  padding: 7px 8px 6px 8px;
  font-size: 13px;
}
	td a {
	  text-decoration: none;
	  color: inherit;
	}
	td.done,
	th.done {
	  width: 18px;
	  text-align: center;
	}
	td.project {
    width: 100px;
	}
	td.context {
	  width: 100px;
	}
	td.due {
	  width: 60px;
	}
	td.edit {
	  width: 50px;
	  text-align: right;
	}
  	td.edit a {
  	  visibility: hidden;
  	}
    	td.edit a.cancel { 
    	  visibility: visible; 
    	}
  	  td.edit a img {
  	    margin-bottom: -1px;
  	    border: 0;
  	  }
	
tr.task-row:hover td,
tr.editable td {
  background: #ff9;
}
  tr.task-row:hover td a,
  tr.editable td a {
    text-decoration: underline;
    color: #369;
  }
  tr.task-row:hover td.edit a {
    visibility: visible;
  }
  tr.task-row.completed {
    color: #666;
  }
    tr.task-row.completed td {
      text-decoration: line-through;
    }
    tr.task-row.completed td.edit {
      text-decoration: none;
    }

  tr.task-row td {
    white-space: nowrap;
  }
    tr.task-row td.task {
      white-space: normal;
    }
    
tr.editable.task-row td.project,
tr.editable.task-row td.task,
tr.editable.task-row td.context,
tr.editable.task-row td.due,
tr.editable.task-row td.edit {
  padding: 6px 4px 5px 4px;
}
  tr.editable.task-row td.edit {
    padding-left: 0;
  }

.text-input {
  padding: 2px;
  border: 1px solid #ccc;
}

/*
tr.editable.task-row td.error input {
  border-color: #c00;
}
*/
tr.editable.task-row td.project input,
tr.editable.task-row td.task input,
tr.editable.task-row td.context input,
tr.editable.task-row td.due input {
  width: 100%;
}

/*
tr.editable td.message {
  padding-top: 0;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}
  tr.editable td.message strong {
    color: #c00;
  }
  */

tr.error td {
  background: #c00;
}

#tasks_form { display: none; }

.autocompleter {
  background: white;
  border: 1px solid #666;
}
  .autocompleter ul, .autocompleter li {
    margin: 0;
    padding: 0;
  }
  .autocompleter li {
    padding: 5px;
    list-style-type: none;
  }
    /* Highlighted matches */
    .autocompleter li span {
      text-decoration: underline;
    }
    .autocompleter li.selected { background: #ff9; }


/* Modal dialogs */

.dialog_container {
  background: white;
  border: 4px solid #ff9;
  padding: 20px;
}
  .dialog_container .loading {
    background: white url(/images/medium_spinner.gif) center no-repeat;
    width: 300px;
    height: 100px;
  }
.dialog_content h2 { 
  font-size: 16px;
  margin-bottom: 10px;
}
.dialog_content li { 
  margin-bottom: 10px;
}
  .dialog_content li input {
    vertical-align: -2px;
  }
  .dialog_content li.buttons { 
    margin: 20px 0 0 0;
  }
    .dialog_content li.buttons input {
      vertical-align: 0;
    }

#settings_dialog, #add_list_dialog { 
  width: 300px;
}
  #new_list_name {
    width: 100%;
    font-size: 16px;
  }
  
  
/* Archived */

#filter { 
  text-align: center; 
  margin-bottom: 20px;
}
  #filter p, 
  #filter form {
    display: inline;
  }
  #filter a,
  #filter span,
  #filter form {
    margin-left: 5px;
  }
  #filter input.date {
    width: 70px;
  }







