{% load tasks_library %}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block page_title %}{% endblock %}</title>
	
  {% css_tag style %}
  
  {% if not is_production %}
    {% javascript_tag ext/prototype %}
    {% javascript_tag ext/scriptaculous.js?load=effects,controls %}
  {% else %}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("prototype", "1.6.0.3");
      google.load("scriptaculous", "1.8.2");
    </script>
  {% endif %}
  {% javascript_tag dnzo/application %}
  {% block javascripts %}{% endblock %}
</head>
<body>
  
  <div id="header">
    <p id="branding">
      <span>DNZO</span>&nbsp;
      {% block switcher %}{% endblock %}
    </p>
    {% if user %}
    <p id="user-lists">
      <strong>{{ user.user.nickname|escape }}</strong> -
      <a href="{{ logout_url }}">Sign out</a>
    </p>
    {% endif %}
  </div>  <!-- end DIV header -->
  
  {% include "tasks/status.html" %}
  
  <div id="body">
    
    <h1>{% block header %}{% endblock %}</h1>
    
    {% block content %}{% endblock %}
    
  </div>
  
  <div id="footer">
  {% block footer %}<p>Foo bar</p>{% endblock %}
  </div>  <!-- end DIV footer -->
  
</body>
</html>