{% extends "../layouts/admin.html" %}

{% block page_title %}DNZO Admin: Settings{% endblock %}

{% block content %}
  <h2>DNZO settings</h2>
  
  <ul>
    {% for setting in settings %}
    <li>
      {{ setting.name }}: {% if setting.value %}{{ setting.value }}{% else %}(none){% endif %}
      <form action="{% url SettingsHandler %}" method="POST">
        <input type="hidden" name="setting" value="{{ setting.name }}">
        <input type="text" name="value" value="{{ setting.value }}">
        <input type="submit" value="save">
      </form>
    </li>
    {% endfor %}
  </ul>

{% endblock %}