{% extends "layouts/admin.html" %}

{% block page_title %}DNZO Admin: Running migration {{ migration.name }}{% endblock %}

{% block javascripts %} 
  <script type="text/javascript" src="/javascripts/ext/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/admin/migrations.js"></script>
{% endblock %}

{% block content %}
  <h2>
    Running migration: 
    <a id="migration_link" href="{% url admin.views.run_migration migration.slug %}">{{ migration.name }}</a>
  </h2>
  
  <ul id="progress">
  </ul>
{% endblock %}