{% extends "layouts/base.html" %}

{% load tasks_library %}

{% block page_title %}DNZO / {{ task_list.name|escape }}{% if filter_title %} / {{ filter_title|escape }}{% endif %}{% endblock %}

{% block switcher %}
  {% include "layouts/switcher.html" %}
{% endblock %}

{% block header %}
  {% if filter_title %}<a href="{% url tasks.views.list_index user.short_name,task_list.short_name %}">{% endif %}
  {{ task_list.name|escape }}{% if filter_title %}</a> / {{ filter_title|escape }}{% endif %}
{% endblock %}

{% block content %}
<form action="{% url tasks.views.task user.short_name %}?task_list={{task_list.short_name|escape}}" method="POST" id="tasks_form">
<table cellspacing="0" cellpadding="0" id="tasks_list">
  <tr>
    <th class="done"><span>&nbsp;&nbsp;✓</span></th>
    {% sorting_header "Project"     "project"    order direction "project" %}
    {% sorting_header "Task"        "body"       order direction "body" %}
    <th><span>Context</span></th>
    {% sorting_header "Due"         "due_date"   order direction "due" %}
  </tr>
  {% for task in tasks %}
    {% include "tasks/task.html" %}
  {% endfor %}
  <tr id="add_row">
    <td></td>
    <td colspan="6"><a id="add" href="{{ add_url }}" style="text-decoration:underline; color:#369">Add task</a></td>
  </tr>
</table>
</form>
{% endblock %}

{% block footer %}
<form action="{% url tasks.views.purge_list user.short_name,task_list.short_name %}" method="POST">
<p id="archive">
    <input type="submit" value="Archive completed tasks">&nbsp;
</p>
</form>

<div style="display: none;">{% include "lists/add.html" %}</div>
<form action="{% url tasks.views.delete_list user.short_name,task_list.short_name %}" method="POST">
<p id="new-delete">
  <a href="{% url tasks.views.add_list user.short_name %}" id="add_list_link">Add list</a>&nbsp;
  <input type="submit" value="Delete list"{% if task_lists|length_is:1 %} disabled{% endif %}>
</p>
</form>
{% endblock %}