{% extends "layouts/base.html" %}

{% load tasks_library %}

{% block page_title %}Dnzo: {{ task_list.name|escape }}{% if filter_title %} / {{ filter_title|escape }}{% endif %}{% endblock %}

{% block header %}
  {% if filter_title %}<a href="{% url tasks.views.tasks_index user.short_name,task_list.short_name %}">{% endif %}
  {{ task_list.name|escape }}{% if filter_title %}</a> / {{ filter_title|escape }}{% endif %}
{% endblock %}

{% block content %}
  <p id="return">
    &larr; Return to <a href="{% url tasks.views.lists_index user.short_name %}">my task lists</a>
  </p>
  
  <div id="tasks_holder">
    <form action="{% url tasks.views.task user.short_name,task_list.short_name %}" method="POST" id="tasks_form">
    <table cellspacing="0" cellpadding="0" id="tasks_list">
      <tr>
        <th><a href="#">&nbsp;&nbsp;✓</a></th>
        {% sorting_header "Project"     "project"    order direction "project" %}
        {% sorting_header "Task"        "body"       order direction "body" %}
        <th class="context"><a href="#">Context</a></th>
        {% sorting_header "Due"         "due_date"   order direction "due" %}
        {% sorting_header "Created On"  "created_at" order direction "created" %}
        <th class="edit"></th>
      </tr>
      {% for task in tasks %}
        {% include "tasks/task.html" %}
      {% endfor %}
      <tr id="add_row">
        <td></td>
        <td colspan="6"><a id="add" href="{{ add_url }}">+ Add task</a></td>
      </tr>
    </table>
    </form>
  </div>
{% endblock %}