{% load tasks_library %}

{% if task.editing %}
  <tr class="editable task-row">
    <td class="done">
      {% if task.is_saved %}
      <input type="checkbox"{% if task.complete %} checked{% endif %} name="complete" value="true" class="complete editing">
      {% endif %}
    </td>
    <td class="project">
      <input type="text" value="{{ task.project.name|escape }}" class="text-input task-project" name="project">
    </td>
    <td class="task">
      <input type="text" value="{{ task.body|escape }}" class="text-input task-body" name="body">
    </td>
    <td class="context">
      <input type="text" value="{% for context in task.contexts %}@{{ context|escape }} {% endfor %}" class="text-input" name="contexts">
    </td>
    <td class="due">
      <input type="text" value="{{ task.due_date|date:"n/j/y" }}" class="text-input" name="due_date">
    </td>
    <td class="edit">
    {% if task.is_saved %}
      <input type="hidden" name="task_id" value="{{ task.key.id }}">
      <input type="submit" value="Save"> 
    {% else %}
      <input type="submit" value="Add">
    {% endif %}
    or <a href="{{ request_uri }}" class="cancel">cancel</a>
    </td>
  </tr>
{% else %}
  <tr class="task-row{% if task.complete and not task.purged %} completed{% endif %}">
    {% if not task.purged %}
    <td class="done">
      <input type="checkbox"{% if task.complete %} checked{% endif %} class="complete">
    </td>
    {% endif %}
    <td class="project">
      <a href="{% url tasks.views.tasks_index task.owner.short_name,task.task_list.short_name,project_name=task.project.short_name %}">{{ task.project.name|escape }}</a>
    </td>
    <td class="task">
      {{ task.body|escape }}
    </td>
    <td class="context">
      {% for context in task.contexts %}
      <a href="{% url tasks.views.tasks_index task.owner.short_name,task.task_list.short_name,context_name=context %}">@{{ context|escape }}</a>
      {% endfor %}
    </td>
    <td class="due">
      {{ task.due_date|short_date }}
    </td>
    <td class="edit">
      {% if not task.purged %}
      <a href="{% url tasks.views.task task.owner.short_name,task.key.id %}" class="edit">edit</a>&nbsp;&nbsp;
      <a href="{% url tasks.views.task task.owner.short_name,task.key.id %}?delete=true" class="delete"><img src="/images/trash.gif" alt="delete task"></a>
      {% endif %}
    </td>
  </tr>
{% endif %}