<tr class="editable task-row {% if task.is_saved %}task-{{ task.key.id }}{% else %}unsaved{% endif %}"
    {% if not task.editing %} style="display: none"{% endif %}>
  <td class="done">
    <input type="checkbox"{% if task.complete %} checked{% endif %} name="complete" value="true" class="complete editing">
  </td>
  <td class="task">
    <input type="text" value="{{ task.body|escape }}" class="text-input task-body" name="body" maxlength="500">
  </td>
  <td class="project">
    <input type="text" value="{% if task.project %}{{ task.project|escape }}{% endif %}" class="text-input task-project" name="project" maxlength="30">
  </td>
  <td class="context">
    <input type="text" value="{% for context in task.contexts %}@{{ context|escape }} {% endfor %}" class="text-input" name="contexts">
  </td>
  <td class="due">
    <input type="text" value="{{ task.due_date|date:"n/j/y" }}" class="text-input" name="due_date">
  </td>
  <td class="edit">
  {% if task.is_saved %}
    <input type="submit" value="Save"> 
  {% else %}
    <input type="submit" value="Add">
  {% endif %}
  </td>
  <td class="cancel">
    <input type="hidden" value="{{ task.created_at_msec }}" class="created_at">
    <a href="{{ request_uri }}" class="cancel" title="Cancel edit">cancel</a>
  </td>
</tr>
{% if task.is_saved %}
<tr class="task-row{% if task.complete %} completed{% endif %} task-{{ task.key.id }}" 
    {% if task.editing %} style="display: none"{% endif %}>
  <td class="done">
    <input type="checkbox"{% if task.complete %} checked{% endif %} class="complete">
  </td>
  <td class="task">
    {{ task.body|escape|urlize }}
  </td>
  <td class="project">
    {% if task.project %}
    <a href="/l/{{ task_list.short_name|escape }}/for/{{ task.project_index|escape }}" title="Filter tasks by project &lsquo;{{ task.project|escape }}&rsquo;">{{ task.project|escape }}</a>
    {% endif %}
  </td>
  <td class="context">
    {% for context in task.contexts %}
      <a href="/l/{{ task_list.short_name|escape }}/at/{{ context|escape }}" title="Filter tasks by context &lsquo;{{ context|escape }}&rsquo;">@{{ context|escape }}</a>
    {% endfor %}
  </td>
  <td class="due">
    {% if task.due_date %}
      <a href="/l/{{ task_list.short_name|escape }}/on/{{ task.due_date|date:"m-d-y" }}/" title="Filter tasks by due date &lsquo;{{ task.due_date|short_date }}&rsquo;">{{ task.due_date|short_date }}</a>
    {% endif %}
  </td>
  <td class="edit">
    <input type="hidden" class="task-id" value="{{ task.key.id }}">
    <a href="/t/{{ task.key.id|escape }}/" class="edit" title="Edit task">edit</a>
  </td>
  <td class="cancel">
    <a href="/t/{{ task.key.id|escape }}?delete=true" class="delete" title="Delete task">delete</a>
  </td>
</tr>
{% endif %}