{% load tasks_library %}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block page_title %}{% endblock %}</title>

  {% css_tag style %}
  <script type="text/javascript">
    var TimezoneInfo = { 
      offset:    parseInt("{{ user.timezone_offset_mins }}") || 0,
      updateUrl: "{% url tasks.views.transparent_settings %}"
    };
  </script>
</head>
<body>
  
  <div id="header">
    <p id="branding-lists">
      <span>DNZO</span>&nbsp;
      {% include "tasks/switcher.html" %}
    </p>
    <p id="user">
      <strong>{{ user.user.nickname }}</strong> -
      <a href="{% url tasks.views.settings %}" class="dialog">Settings</a> -
      <a href="{{ logout_url }}">Sign out</a>
    </p>
  </div>  <!-- end DIV header -->
  
  {% include "tasks/status.html" %}
  
  <div id="body">
    {% block preheader %}{% endblock %}
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
  
  <div id="footer">
  {% block footer %}{% endblock %}
  </div>  <!-- end DIV footer -->

  {% combined_javascript_tag ext/combined ext/prototype ext/scriptaculous ext/effects ext/controls ext/dragdrop %}
  {% javascript_tag dnzo/application %}
  {% block javascripts %}{% endblock %}
  
  {% if is_production %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6679771-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  {% endif %}
</body>
</html>