<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block page_title %}{% endblock %}</title>

  {% css_tag style %}
  {% include "../tasks/js_vars.js" %}
</head>
<body>
  
  <div id="header">
    <p id="branding-lists">
      <span>Done-zo</span>
      {% include "../tasks/switcher.html" %}
    </p>
    <p id="user">
      <strong>{{ user.user.nickname|escape }}</strong> -
      <a href="{% url SettingsHandler %}" class="dialog">Settings</a> -
      <a href="{{ logout_url }}">Sign out</a>
    </p>
  </div>  <!-- end DIV header -->
  
  {% include "../tasks/status.html" %}
  
  <div id="body">
    {% block preheader %}{% endblock %}
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
  
  <div id="footer">
  {% block footer %}{% endblock %}
  </div>  <!-- end DIV footer -->

  {% combined_javascript_tag ext/combined ext/prototype ext/scriptaculous ext/effects ext/controls ext/dragdrop ext/xtensions %}
  {% combined_javascript_tag dnzo/combined dnzo/application dnzo/instant_autocompleter dnzo/modal_dialog dnzo/task_row dnzo/tasks %}
  
  {% if is_production %}
  <script type="text/javascript">
  function _checkGAT() {
    if (typeof _gat == 'undefined') { setTimeout(_checkGAT, 200); } else { try {
      var pageTracker = _gat._getTracker('UA-6679771-1');
      pageTracker._trackPageview();
    } catch(err) {} }
  }
  Event.observe(window, 'load', function(e) {
    $$('head').first().appendChild(new Element('script', { src: (("https:" == document.location.protocol) ? "https://ssl." : "http://www.") + "google-analytics.com/ga.js" }));
    _checkGAT();
  });
  </script>
  {% endif %}
</body>
</html>