<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Done-zo — fast free to-do list web app</title>
  <link rel="stylesheet" href="/stylesheets/public.css" type="text/css">
</head>
<body id="{% block bodyid %}{% endblock %}">
  <h1><a href="/">Done-zo</a></h1>
  
  {% block body %}{% endblock %}
    
  <div id="footer">
    <p>Questions, comments, or just want to talk? Email us at <a href="mailto:support@done-zo.com">support@done-zo.com</a>.</p>
    <p style="font: 13px Helvetica, sans-serif; margin-top: 15px">&copy;2010 Two-Stitch Software LLC &bull; <a href="http://twitter.com/dnzo">Done-zo on Twitter</a> &bull; <a href="">Done-zo for iPhone and iPod Touch</a></p>      
  </div>
  
  {% if not is_development %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6679771-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  {% endif %}

</body>
</html>
