{% load tasks_library %}
<!DOCTYPE HTML>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
  {% css_tag public %}
  
  <meta name="description" content="A to-do list to help you get things done-zo.">
  <meta name="keywords" content="to-do list, to-do, to do, to do list, getting things done, gtd, tasks, task management">
</head>
<body>
  
  {% block h1 %}{% endblock %}

  <div id="body">
  {% block body %}{% endblock %}
  </div>  <!-- end DIV body -->

  <p>
    Send questions or comments to <a href="mailto:support@getdnzo.com">support@getdnzo.com</a>.
  </p>
  <p>
    Built by <a href="http://taylor-hughes.com">Taylor Hughes</a>
    and <a href="http://johnzeratsky.com/">John Zeratsky</a>.
  </p>
  
  {% if not is_development %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6679771-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  {% endif %}

</body>
</html>
