body {
  background: #eee;
  margin: 0;
  padding: 0;
}
body,
.text-input {
  font: 10px Helvetica;
}

#header {
  font-size: 1.1em;
  margin: 1em 6.4em 1.7em 2em;
  margin-right: 8.2%;
}
  #header p {
    margin: 0;
  }
  #branding {
    float: left;
  }
    #branding span {
      vertical-align: -3px;
	    font-weight: bold;
	    font-size: 1.7em;
	    letter-spacing: -2px;
	    color: gray;	      
    }
  #user-lists {
    padding-top: 0.7em;
    text-align: right;
  }
  
#status {
  position: absolute;
  width: 36em;
  height: 2.1em;
  top: 50px;
  left: 50%;
  margin-left: -12em;
  background: red;
  color: white;
}
  #status a {
    color: white;
  }
  #status p {
    margin: 0.3em 1em 0 1em;
    padding: 0;
	  font-size: 1.3em;
	  text-align: center;
  }
  
#body {
  margin: 1em 0;
  padding: 1em;
  background: white;
  border: 1px solid #ccc;	 
  border-right: 0;
  border-left: 0; 
}
  #body p {
    margin-left: 1em;
    font-size: 1.3em;
  }
h1 {
  margin-left: 2.4em;
  margin-left: 0.6em;
  font-size: 2.2em;
}
a {
  text-decoration: underline;
  color: #369;
}

#tasks_list {
  width: 100%;
  margin-bottom: 0.5em;
}
td, th {
  text-align: left;
}
th {
  font-weight: normal;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}
  th a, th span {
    display: block;
    padding: 0.4em 0.8em 0.3em 0.8em;
    text-decoration: none;
    color: #999;
  }	  
  th a:hover,	  
  th a.sorted {
    background: #eee url(/images/graphics.gif) no-repeat 100000px 8px;
  }
    th a.sorted {
      background-position: right 8px;
    }
    th a.sorted.descending {
      background-position: right -85px;
    }
    th a.sorted {
      color: #666;
    }

    
td {
  padding: 0.6em;
  padding-bottom: 0.5em;	  
  font-size: 1.3em;
}
	td a {
	  text-decoration: none;
	  color: inherit;
	}
	td.project {
    width: 8em;
	}
	td.edit {
	  width: 4em;
	  text-align: right;
	}
	td.edit a {
	  visibility: hidden;
	}
	td.edit a.cancel { visibility: visible; }
	  td.edit a img {
	    margin-bottom: -1px;
	    border: 0;
	  }
	td.done,
	th.done {
	  width: 1em;
	  background-image: none;
	}
	  td.done input {
	    margin-top: -2px;
	  }
	
tr.task-row:hover td,
tr.editable td {
  background: #ff9;
}
  tr.task-row:hover td a {
    text-decoration: underline;
    color: #369;
  }
  tr.task-row:hover td.edit a {
    visibility: visible;
  }
  tr.task-row.completed { color: #666; }
  tr.task-row td {
    white-space: nowrap;
    vertical-align: top;
  }
    tr.task-row td.task {
      white-space: normal;
    }
    

tr.editable.task-row td.project,
tr.editable.task-row td.task,
tr.editable.task-row td.context,
tr.editable.task-row td.due {
  padding-left: 0.5em;
}
tr.editable.task-row td.edit {
  padding-left: 0;
}
.text-input {
  padding: 2px;
  font-size: 1em;
  border: 1px solid #ccc;
}
tr.editable.task-row td.error input {
  border-color: #c00;
}
tr.editable.task-row td.task input,
tr.editable.task-row td.context input,
tr.editable.task-row td.project input {
  width: 100%;
}
tr.editable.task-row td.due input {
  width: 5em;
}

tr.editable td.message {
  padding-top: 0;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}
  tr.editable td.message strong {
    color: #c00;
  }

tr.error td {
  background: #c00;
}

#footer {
  font-size: 1.1em;
  margin: 1em 6.4em 1.2em 2em;
  margin-right: 8.2%;    
}
  #footer p {
   
  }
  #archive {
    float: left;
  }
  #new-delete {
    padding-top: 1em;
    text-align: right;
  }

#signup {
  text-align: center;
}  
  #signup label {
    display: block;
    margin-bottom: 1em;
  }
  #url { 
    color: #666; 
    line-height: 15pt;
  }
  #name {
    font-size: 15pt;
  }
  #availability img { 
    vertical-align: top; 
    margin-top: 3px;
    border: 0;
    width: 26px;
    height: 26px;
  }



























